$color_white: #fff;

// ---- GREY ----
$color_grey: #667480;
$color_light_grey1: #8d9aa6;
$color_light_grey2: #acb6bf;
$color_light_grey3: #c7d1d9;
$color_light_grey4: #dce1e6;
$color_light_grey5: #f0f3f5;
$color_light_grey6: #f5f8fa;
$color_light_grey7: #f7f9fa;
$color_light_grey8: #fafbfc;
$color_dark_grey1: #434f59;
$color_dark_grey2: #1a2733;

// ---- BLUE ----
$color_blue: #1994ff;
$color_light_blue1: #8abbe6;
$color_light_blue2: #cae5fc;
$color_light_blue3: #e1eefa;
$color_light_blue4: #ebf3fa;
$color_dark_blue1: #0d4a80;
$color_dark_blue2: #001426;

// ---- GREEN ----
$color_green: #39bf66;
$color_light_green1: #ace6bf;
$color_light_green2: #d8f0e0;
$color_dark_green1: #00822b;
$color_dark_green2: #364d3d;
$color_dark_green3: #14331f;

// ---- RED ----
$color_red: #fc3a4a;
$color_light_red1: #ff99a1;
$color_light_red2: #fae1e3;
$color_dark_red1: #b3000f;
$color_dark_red2: #593639;
$color_dark_red3: #400005;

// ---- TEAL ----
$color_teal: #52ccb8;
$color_light_teal1: #a6ede7;
$color_light_teal2: #dff7f5;
$color_dark_teal1: #00998c;
$color_dark_teal2: #3d4d4b;
$color_dark_teal3: #00332f;

// ---- PURPLE ----
$color_purple: #7f66ff;
$color_light_purple1: #a1a1e6;
$color_light_purple2: #babaf7;
$color_light_purple3: #efedfa;
$color_dark_purple1: #302273;
$color_dark_purple2: #4a4759;
$color_dark_purple3: #0d004d;

// ---- ORANGE ----
$color_orange: #f28518;
$color_light_orange1: #ffbf80;
$color_light_orange2: #faebdc;
$color_dark_orange1: #bf640a;
$color_dark_orange2: #4d3926;
$color_dark_orange3: #4d2600;
