@for $i from 1 through 14 {
    .margin-top-#{4 * $i} {
        margin-top: #{4 * $i}px;
    }
    .margin-bot-#{4 * $i} {
        margin-bottom: #{4 * $i}px;
    }
    .margin-left-#{4 * $i} {
        margin-left: #{4 * $i}px;
    }
    .margin-right-#{4 * $i} {
        margin-right: #{4 * $i}px;
    }
    .margin-#{4 * $i} {
        margin: #{4 * $i}px;
    }
    .padding-top-#{4 * $i} {
        padding-top: #{4 * $i}px;
    }
    .padding-bot-#{4 * $i} {
        padding-bottom: #{4 * $i}px;
    }
    .padding-left-#{4 * $i} {
        padding-left: #{4 * $i}px;
    }
    .padding-right-#{4 * $i} {
        padding-right: #{4 * $i}px;
    }
    .padding-#{4 * $i} {
        padding: #{4 * $i}px;
    }
}
.no-padding {
    padding: 0;
}
.no-padding-top {
    padding-top: 0;
}
.no-padding-right {
    padding-right: 0;
}
.no-padding-bot {
    padding-bottom: 0;
}
.no-padding-left {
    padding-left: 0;
}
