.el-button {
	&.with-icon {
		> span{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&.el-button--small {
			padding: 4px 8px;
			height: 32px;
		}
		&.el-button--medium {
			padding: 4px 8px;
			height: 36px;
		}
	}
}
