.el-collapse-item {
    &.disabled {
        pointer-events: none;
        .el-collapse-item__arrow {
            visibility: hidden;
        }
    }
    &.no-arrow {
        .el-collapse-item__arrow {
            display: none;
        }
    }
}
