.el-dialog__wrapper {
    display: flex;
}
.el-dialog {
    display: table;
    border-radius: 8px;

    .el-dialog__header {
        display: flex;
        align-items: center;
        padding-bottom: 0px;
        padding-top: 0px;
        height: 55px;
        .el-dialog__title {
            font-size: 16px;
            color: $color_dark_grey1;
        }
        .icon {
            margin-right: 4px;
        }
    }
    .el-dialog__body {
        padding: 24px;
    }
    .el-dialog__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 16px;
        height: 64px;
        border-top: thin solid $color_light_grey4;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        button:not(:last-child) {
            margin-right: 16px;
        }
    }
    &.center {
        align-self: center;
    }
    &.scrollable {
        .el-dialog__header {
            border-bottom: thin solid $color_light_grey4;
        }
    }
}
