.el-form {
    .el-form-item__label {
        line-height: initial;
        max-width: initial;
        margin-bottom: initial;
        font-weight: initial;
        padding: 0px;
    }
    .el-form-item__content {
        line-height: initial;
    }
}
