.el-input {
    &.no-border {
        .el-input__inner {
            padding: 0px;
            border: none;
        }
    }
    &.no-background {
        .el-input__inner {
            background: transparent;
        }
    }
}
