.el-select {
    &.no-border {
        .el-input__inner {
            border: none;
        }
    }
    &.no-arrow {
        .el-icon-arrow-up {
            display: none;
        }
    }
    &.incognito {
        .el-input__inner {
            border: none;
            background-color: transparent;
        }
        .el-icon-arrow-up {
            display: none;
        }
    }
}
