.el-tag {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: space-between !important;

    &.rounded {
        border-radius: 10px;
    }
    &:not(.outlined) {
        &.light-blue {
            color: $color_blue;
            background-color: $color_light_blue2;
            border: none;
        }
        &.blue {
            background-color: $color_blue;
            color: white;
            border: none;
        }
        &.grey {
            background-color: $color_light_grey5;
            color: $color_light_grey1;
            border: none;
        }
        &.orange {
            color: $color_dark_orange1;
            background-color: $color_light_orange1;
            border: none;
        }
        &.purple {
            color: $color_purple;
            background-color: $color_light_purple3;
            border: none;
        }
    }
    &.outlined {
        background-color: white;
        &.grey {
            border: thin solid $color_light_grey4;
            color: $color_dark_grey1;
        }
        &.blue {
            border: thin solid $color_light_blue2;
            color: $color_dark_blue1;
        }
        &.orange {
            border: thin solid $color_light_orange1;
            color: $color_dark_orange1;
        }
    }
    &.arrow {
        min-width: 58px;
        border-radius: 0px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        text-transform: uppercase;
        position: relative;
        margin-right: 18px;

        &.grey {
            background-color: $color_light_grey4;
            color: $color_grey;
            &::after {
                background: linear-gradient(to right bottom, $color_light_grey4 50%, transparent 50%);
            }
            &::before {
                background: linear-gradient(to right top, $color_light_grey4 50%, transparent 50%);
            }
        }
        &.blue {
            background-color: $color_light_blue2;
            color: $color_dark_grey1;
            &::after {
                background: linear-gradient(to right bottom, $color_light_blue2 50%, transparent 50%);
            }
            &::before {
                background: linear-gradient(to right top, $color_light_blue2 50%, transparent 50%);
            }
        }
        &.orange {
            background-color: $color_light_orange1;
            &::after {
                background: linear-gradient(to right bottom, $color_light_orange1 50%, transparent 50%);
            }
            &::before {
                background: linear-gradient(to right top, $color_light_orange1 50%, transparent 50%);
            }
        }
        &::after, &::before{
            content: "";
            position: absolute;
            width: 10px;
            height: 50%;
            left: 100%;
        }
        &::after{
            bottom: 0;
        }
        &::before{
            top: 0;
        }
    }
}
